.Rproj.user
.Rhistory
.RData
.Ruserdata
output/fibroblast_*
output/cluster_summary_ls.rds
output/zlm_summary_mixed.rds
output/counts.mtx
output/pca.csv
data/mf43/*
data/mf61/*
data/Wu_2020/*
data/sca*
analysis/Trajectory_analysis/velocyto_output/*
analysis/Trajectory_analysis/cache/*
analysis/Trajectory_analysis/anadata.h5ad
analysis/Trajectory_analysis/figures/.ipynb_checkpoints/scvelo_heatmap-checkpoint.pdf
analysis/Trajectory_analysis/figures/scvelo_heatmap.pdf